@model DomainLayer.UserCheckOut

@{
    ViewData["Title"] = "Checkout";
    var user = ViewData["User"] as DomainLayer.Registration;
    var userAddress = ViewData["UserAddress"] as IEnumerable<DomainLayer.Address>;
    var products = ViewData["Products"] as DomainLayer.Product.ProductsModel;
    var paymentMode = Enum.GetValues(typeof(DomainLayer.Orders.PaymentStatus));
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<form class="order" method="post" asp-action="BuyNow">
    <input asp-for="productId" type="hidden" value="@products.id" />
    <input asp-for="userId" type="hidden" value="@user.registrationId" />
    <div class="card" style="padding: 25px; margin-bottom: 26px;">
        <div class="address"><p class="card-title" style="text-align: center; font-size: large;">Delivery Address</p></div>
        @if (userAddress == null)
        {
            <p> Please add address</p>
        }
        else
        {
            @foreach (var address in userAddress)
            {
    <div id="address">
        <div class="address">
            <input class="form-check-input" type="checkbox" name="addressId" value="@address.id" style="margin-left:6px" />
            <label class="form-check-label" style="margin-left: 30px;">@address.name <br />@address.address<br />@address.district</label>
        </div>
        <div class="row" style="padding: 2px; margin-left: -37px;">
            <div class="col"><a href="/checkout/address" class="btn btn-primary" style="margin-left: 50px;">Add New Address</a></div>
        </div>
        <div class="row" style="padding: 2px; margin-left: -37px;">
            <div class="col"><a class="btn btn-primary" id="addressContinue" style="margin-left: 50px; color:white">Continue</a></div>
        </div>
    </div>
            }
        }
    </div>
    <div class="card" id="orderSummary" style="margin-bottom: 26px; display:none;">
        <div class="summary"><p class="card-title" style="text-align: center; font-size: large">Order Summary</p></div>
        <div class="orderDetails">
            <div class="form-check">
                <div class="">
                    <div class="col-12">
                        <img class="img-fluid" src="~/images/@products.image" style="padding: 15px; width: 10%;" />
                        <label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;">
                            @products.productName (@products.specification.productRam GB RAM, @products.specification.productStorage GB)<br>&#8377 @products.productPrice
                            <div class=>Quantity:<input name="quantity" asp-for="@products.quantity" type="number" style="width:50px; height:20px;" value="1" id="priceTag" onchange="myFunction(@products.productPrice)" /></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 2px; margin-left: 10px;">
            <div class="col"><a class="btn btn-primary" id="summaryContinue" style="margin-left: 50px; color:white">Continue</a></div>
        </div>
    </div>

    <div class="card payment mt-3" id="paymentMode" style="margin-bottom: 26px; padding: 26px; display: none;">
        <h5 class="card-title address" style="text-align: center; font-size: large">Payment Mode</h5>
        @foreach (var items in paymentMode)
        {

            <div class="form-check">
                <input class="form-check-input " name="paymentModeId" type="checkbox" value='@Convert.ToInt32(items)'>
                <label class="form-check-label" for="flexCheckDefault" style=" margin-left: 26px;">
                    @items
                </label>
            </div>
            <div class="row" style="padding: 2px; margin-left: -37px;">
                <div class="col"><a class="btn btn-primary" id="paymentContinue" style="margin-left: 50px; color:white">Continue</a></div>
            </div>
        }
        <p class="card-text"></p>
    </div>
</form>


<div class="card" id="priceId" style="display: none;">

    <div class="Price">
        <h5 class="card-title" style="text-align: center; font-size: large">Price Details</h5>
    </div>
    <div>
        <p class="card-text" id="priceField" style="margin-left: 37px;">Price for each product: Rs. @products.productPrice</p>
        <div class="card-text" style="margin-left: 37px;"> <div class="row"><p class="col-6">Shipping Charge : <p class="col-6" style="color: green; color: green; position: relative; right: 436px;">Free</p>  </div></div>
        <div id="price"></div>
    </div>

    <div class="">
        <p class="card-text" id="totalPrice" style="margin-left: 37px;">Total Payable : @products.productPrice</p>
        <div id="price"></div>
    </div>
    <div class="row">
        <div class="col"><a asp-controller="user" asp-action="Index" class="btn btn-primary" style="position: relative; left: 38px;">Cancel</a></div>
        <div class="col"></div>
        <div class="col col d-flex justify-content-end "><input type="submit" value="Place Order" class="btn btn-primary" style=" position: relative; right: 880px;" /></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#addressContinue").click(function () {
            $("#orderSummary").show();
        });
        $("#summaryContinue").click(function () {
            $("#paymentMode").show();
        });
        $("#paymentContinue").click(function () {
            $("#priceId").show();
        });

    });
    function myFunction(data) {
        console.log("a");
        var x = document.getElementById("priceTag").value;
        var y = document.getElementById("priceField").value;
        document.getElementById("totalPrice").innerHTML = "<p> Total Payable: Rs. " + x * data + "</p>";
        }
</script>

