@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DomainLayer.UserCheckOut
@{
    var product = ViewData["ProductData"] as DomainLayer.Product;
    var user = ViewData["UserData"] as DomainLayer.Registration;
    var values = Enum.GetValues(typeof(DomainLayer.Orders.PaymentStatus));
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@if (user == null)
{
    <h5>Not a user?</h5>
    <a asp-action="Login" class="btn btn-primary">Click here to Login</a>
}
<div class="container">
    <div class="row">
        <form asp-action="MyOrder" method="post" class="col" id="my-form">
            @*<input asp-for="id" value="0" type="hidden" />
                <input asp-for="productId" type="hidden" value="@product.id" />
                <input asp-for="userId" type="hidden" value="@user.registrationId" />*@
            <div class="card">
                <div class="address"><p class="card-title">Delivery Address</p></div>

                @*@if (user.address == null)
                {
                    <p>No address available! Please add one </p>
                }*@

                <p>No address available! Please add one </p>
                <div id="addressDetails">
                    @foreach (var address in @user.address)
                    {
                        <div class="form-check ">
                            <input class="form-check-input" name="addressId" type="checkbox" value="@address.id" id="flexCheckDefault" onchange="Button1()" />
                            <label class="form-check-label" for="flexCheckDefault">
                                @address.name <br> @address.address<br> @address.district
                            </label>
                        </div>
                    }

                    <div class="row">
                        <div class="col"><a @*asp-action="address"*@ class="btn btn-primary">Add New Address</a></div>
                        <div class="col col d-flex justify-content-end " id="addressContinue"><a style="display: none;" href="#" class="btn btn-orange toggle-button1" onclick="orderDetails()">Continue</a></div>
                    </div>
                </div>

                <div class="card order mt-3" style="display:none">

                    <h5 class="card-title address">Order Summary</h5>

                    <div class="orderDetails">
                        <div class="form-check">
                            @*<div class="">
                                    <div class="col-12">
                                        <img class="img-fluid" src="~/Product/Images/@product.images.FirstOrDefault().imagePath" style="width: 10%;" />
                                        <label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;">
                                            @product.name (@product.specs.rams.FirstOrDefault().ram GB , @product.specs.storages.FirstOrDefault().storage GB)<br>&#8377 @product.price
                                            <div class=>Qty:<input name="quantity" asp-for="quantity" type="number" style="width:50px; height:20px;" value="1" id="priceTag" /></div>
                                        </label>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                    <div class="row">

                        <div class="col col d-flex justify-content-end " style="display:none"><a href="#" class="btn btn-primary toggle-button2" style="background-color: #508be3;" onclick="paymentDetails()">continue</a></div>
                    </div>

                </div>

                <div class="card payment mt-3" style="display:none">
                    <div class="">
                        <h5 class="card-title address">Payment</h5>
                        @foreach (var item in values)
                        {

                            <div class="form-check">
                                <input class="form-check-input" name="paymentModeId" type="checkbox" value='@Convert.ToInt32(item)'>
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item
                                </label>
                            </div>
                        }
                        <p class="card-text"></p>
                        <div class="row">
                            <div class="col"><a asp-action="Index" class="btn btn-primary">Cancel</a></div>
                            <div class="col"></div>
                            <div class="col col d-flex justify-content-end "><input type="submit" value="Place Order" class="btn btn-primary submit" style="" onchange="displaySubmit()" display:none" /></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <div class="col-6">
            <div class="card" style="margin-left: 19%;margin-right: -38%;">

                <div class="Price">
                    <h5 class="card-title" style="">Price Details</h5>
                    <hr />
                </div>
                <div>
                    <p class="card-text" id="priceField">Price </p>
                    <div class="card-text"> <div class="row"><p class="col-6">Shipping Charge <p class="col-6" style="color: green;">  Free</p>  </div></div>
                    <div id="price"></div>
                </div>

                <div class="">
                    <p class="card-text" id="totalPrice">Total Payable</p>
                    <div id="price"></div>
                </div>
            </div>
        </div>
    </div>
</div>

